  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --uiBackground: black;
      --uiForeground: white;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: rgba(255, 255, 255, .1);
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    html {
      scroll-behavior: smooth;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
    
  }

  /* VERTICAL SCROLLBAR */
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  .scrollbar::-moz-scrollbar {
    width: 4px;
  }

  .scrollbar::-moz-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
  }

  .scrollbar::-moz-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  /* HORIZONTAL SCROLLBAR */
  .horizontal::-webkit-scrollbar {
    height: 0px;
  }

  .horizontal::-webkit-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
  }

  .horizontal::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  .horizontal::-moz-scrollbar {
    height: 0px;
  }

  .horizontal::-moz-scrollbar-thumb {
    background-color: rgb(210, 210, 210);
    border-radius: 5px;
  }

  .horizontal::-moz-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  /* BODY DOCUMENT SCROLL */
  .bodyScroll::-webkit-scrollbar {
    width: 4px;
  }

  .bodyScroll::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .bodyScroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  .bodyScroll::-moz-scrollbar {
    width: 4px;
  }

  .bodyScroll::-moz-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .bodyScroll::-moz-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  .rangeStyle:focus {
    outline: none;
    
  }
  .rangeStyle::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, .3);

  }
  .rangeStyle::-webkit-slider-runnable-thumb {
    background-color: black;
  }

  .spinner {
    animation: spinning 2s linear infinite,
  }

  @keyframes spinning {
     from { transform: rotate(0deg) }
     to { transform: rotate(360deg) }
  }

  placeholderText:-moz-placeholder {
    color: rgba(0, 0, 0, .4)
  }
  placeholderText::placeholder {
    color: rgba(0, 0, 0, .4)
  }
  placeholderText::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .4)
  }

  .tiptap p.is-editor-empty:first-child::before {
    color: rgba(0, 0, 0, .3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .tiptap p.is-empty::before {
    color: rgba(0, 0, 0, .3);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  ul, ol {
    list-style: revert;
  }

  /* ACHIEVES THE TEXT STROKE EFFECT WITHOUT MAKING IT LOOK WEIRD */
  .textBlock {
    text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
      font-size: 10vw;
  }